body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #ADB7DA;
}

.quem-somos {
    background-color:#42569A ;
    color: white;
}

.margin {
    padding-top: 20px;
    padding-bottom: 50px;
}
.parceiros{
    background-color:#EE4F65 ;
}

.bg-footer {
    background-color: black ;
    color: white;
}